div {
    20px solid #000; 
    the border's width, its type, and color */
  display: inline-block; /* a way of positioning elements */
  min-width: 20em; /* the two min styles make the shape */
  min-height: 25em; /* of the divs oblong*/
  border-radius: 50%; /* this makes the normally square div round */
  border-left-color:; /* these remove the color from the left side */
  border-right-color: transparent; /* the right side */
  border-bottom-color: transparent; /* and the bottom of the circle */
}

h1 {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  font-family: sans-serif;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -4px 4px #f00,
               -8px 8px #ffa550,
               -12px 12px #ff0,
               -16px 16px #00bc3f,
               -20px 20px #06f,
               -24px 24px #8a2b8a,
               -28px 28px #d300c9,
          
}

body {
  background-color: lightgray;
}